<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="SQL Editor">
    <meta name="description" content="SQL Editor">
    <title>MulSelect</title>
    <style>
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .box > span {
            font-size: 13px;
        }
    </style>
</head>

<body>
<div class="box">
    <h3>下拉多选DOM</h3>

    <!-- 基础下拉多选 -->
    <span>基础下拉多选</span>
    <div class="baseMulselect" style="width: 300px"></div>
    <br>

    <!-- 可全选下拉 -->
    <span>可全选下拉多选</span>
    <div class="chooseAllMulselect" style="width: 300px"></div>
    <br>

    <!-- 可全选下拉 -->
    <span>可新增下拉内容多选</span>
    <div class="addMulselect" style="width: 300px"></div>
    <br>

    <!-- 选中回调 -->
    <span>选中回调</span>
    <div class="chooseCallBack" style="width: 300px"></div>
    <br>



</div>

</body>
</html>
